__pycache__
__tmp__
.cache
.coverage
.eggs
.ipynb_checkpoints
.mypy_cache
.pytest_cache
.vscode
*.css
*.db
*.DS_Store
*.egg-info
**/__init__.pyc
dist
experiments
ILASP
node_modules
package-lock.json
test*.lp
yarn-error.log
build/
