exclude .gitignore
exclude .coverage
exclude .travis.yml
include README.md
include setup.cfg
prune .cache
prune .git
prune build
prune dist
prune __temp__
recursive-exclude *.egg-info *
recursive-include tests *
