body {
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.wrapper {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
}

p {
    line-height: 1.4em;
    margin: 1.4em 0;
}

h1, h2, h3, h4, h5 {
    color: #652c90;
    font-weight: 500;
}

a {
    color: #8a5ed3;
}

h1 strong {
    font-weight: 600;
}

.idl {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo-wrapper {
    width: 100%;
    margin-bottom: 40px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 300px;
    max-width: 90%;
}

.lead {
    font-size: 1.1em;
}

.actions-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions-wrapper a {
    display: block;
    height: 170px;
    width: 170px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;

    background-color: #6b757e;
    color: white;

    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.actions-wrapper a:hover {
    background-color: #495057;
}

.actions-wrapper svg {
    width: 80px;
    margin-bottom: 10px;
}

.actions-wrapper svg path {
    fill: white;
}

footer {
    margin-top: 40px;
    height: 40px;
    color: #aaa;
}

footer a {
    color: #aaa;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .actions-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .actions-wrapper a {
        font-weight: normal;
        display: flex;
        flex-direction: row;
        justify-content: start;

        background: white;
        color: black;
        width: auto;
        min-width: 60%;
        height: auto;
        margin: 0;
    }

    .actions-wrapper a:hover {
        background-color: #ddd;
    }

    .actions-wrapper svg {
        width: 50px;
        margin: 0 10px 0 0;
    }

    .actions-wrapper svg path {
        fill: #6b757e;
    }
}
