@import 'shared/scss/base.scss';

.BugViewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    .label {
      font-size: 1.1em;
      font-weight: 600;
      margin-bottom: .6em;

      small {
        font-weight: normal;
      }
    }
  }

  .bug {
    display: flex;
    flex-direction: column;
    border: 1px solid $light-grey;
    border-radius: 4px;
    margin-top: 16px;
    color: $med-grey;

    .visualizations {
      display: flex;
      flex-direction: row;

      &> * {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
      }

      svg {
        max-height: 600px;
        max-width: 400px;
      }
    }

    p {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
