@import 'shared/scss/base.scss';

.BugViewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  .bug {
    display: flex;
    flex-direction: row;
    border: 1px solid $light-grey;
    border-radius: 4px;
    margin-top: 16px;

    .relationship {
      display: flex;
      flex-direction: row;
      margin: 16px;

      .comparison {
        padding: 8px;
      }
    }
  }
}
