@import 'shared/scss/base.scss';

.App {
  font-family: 'Noto Sans', sans-serif;

  .title {
    width: 100%;
    font-size: 24px;
    color: $dark-grey;
    font-weight: 700;
    padding: 16px 24px 16px 24px;
    background-color: $extra-light-grey;
  }

  .tools {
    display: flex;
    flex-direction: row;
    margin: 24px;
  }
}

