/** Borders */
.ToolTile {
  width: 240px;
  height: 120px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer; }
  .ToolTile .name {
    font-size: 21px;
    font-weight: 700;
    color: #383838; }
  .ToolTile .description {
    font-size: 14px;
    color: #606060;
    font-weight: 400;
    margin-top: 8px; }

.ToolTile:hover {
  background-color: #f3f3f3; }
