@import 'shared/scss/base.scss';

.ToolTile {
  width: 240px;
  height: 120px;
  border: 1px solid $light-grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;

  .name {
    font-size: 21px;
    font-weight: 700;
    color: $dark-grey;
  }

  .description {
    font-size: 14px;
    color: $med-grey;
    font-weight: 400;
    margin-top: 8px;
  }
}

.ToolTile:hover {
  background-color: $extra-light-grey;
}