/** Borders */
.Labeler {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column; }
  .Labeler .display {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .Labeler .display .visualization {
      height: 100vh;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
    .Labeler .display .visualization.hover {
      background-color: #f3f3f3; }
    .Labeler .display .visualization.chosen {
      background-color: #eff6ff; }
    .Labeler .display .equals {
      width: 128px;
      height: 100vh;
      cursor: pointer; }
    .Labeler .display .equals.hover {
      background-color: #f3f3f3; }
    .Labeler .display .equals.chosen {
      background-color: #eff6ff; }
  .Labeler .indicator {
    font-size: 48px;
    color: #606060;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    pointer-events: none; }
  .Labeler .display.block .visualization {
    pointer-events: none; }
  .Labeler .display.block .equals {
    pointer-events: none; }
