@import 'shared/scss/base.scss';

.Labeler {
  display: flex;
  flex-direction: column;

  .chooser {
    display: flex;
    flex-direction: column;

    border-bottom: 3px solid $light-grey;

    .display {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      .hover {
        background-color: $extra-light-grey;
      }

      .chosen {
        background-color: $light-blue;
      }

      .visualization {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;

        .Visualization {
          height: 900px;
          max-height: 85vh;

          display: flex;
          align-items: center;
          flex-direction: row;

          .vega-actions {
            display: none;
          }

          svg {
            max-height: 100%;
            max-width: 100%;
          }
        }
      }

      .same {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        width: 128px;

        .equals {
          flex: 1;
          width: 128px;
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          .indicator {
            font-size: 64px;
            color: $med-grey;
            pointer-events: none;
          }
        }

        .terrible {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 128px;
          height: 128px;
          font-weight: bold;
          color: $med-grey;
        }
      }
    }

    .display.block {
      .visualization {
        pointer-events: none;
      }

      .equals {
        pointer-events: none;
        display: flex;
      }
    }
  }

  .specs {
    margin: 30px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    pre {
      margin: 0 20px 0 26px;
      white-space: pre-wrap;

      &.diff {
        color: #999;
      }

      .added {
        color: green;
        &:before {
          content: "+";
          margin-left: -1em;
        }
      }
      .removed {
        color: #b90000;
        &:before {
          content: "-";
          margin-left: -1em;
        }
      }
    }
  }

  .table {
    display: flex;
    align-items: left;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;

    table {
      border-collapse: collapse;
      font-size: 0.8em;
      min-width: 800px;
      margin-top: 1em;

      tr {
        background-color: #fff;
      }
      tr:nth-child(2n), thead tr {
        background-color: $extra-light-grey;
      }

      thead {
        border-bottom: 1px solid med-grey;
      }

      td, th {
        text-align: left;
        padding: 8px 10px;
        border: 1px solid $light-grey;
      }
    }

    .remaining {
      font-size: 1.1em;
      margin: .9em 0;
      color: $med-grey;
    }
  }

  .task {
    font-size: 1.2em;
    color: $light-grey;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 16px;

    &.active {
      color: $dark-grey;
    }
  }

  .anonymous {
    font-size: 2em;
    color: firebrick;
    font-weight: bold;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;

    span {
      font-size: 12px;
      color: $dark-grey;
    }
  }
}
