@import 'shared/scss/base.scss';

.Labeler {
  display: flex;
  flex-direction: column;

  .chooser {
    display: flex;
    flex-direction: column;
    height: 900px;

    .display {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      .visualization {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          max-height: 900px;
        }
      }

      .visualization.hover {
        background-color: $extra-light-grey;
      }

      .visualization.chosen {
        background-color: $light-blue;
      }

      .equals {
        width: 128px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        .indicator {
          font-size: 48px;
          color: $med-grey;
          pointer-events: none;
        }
      }

      .equals.hover {
        background-color: $extra-light-grey;
      }

      .equals.chosen {
        background-color: $light-blue;
      }
    }

    .display.block {
      .visualization {
        pointer-events: none;
      }

      .equals {
        pointer-events: none;
        display: flex;
      }
    }
  }

  .specs {
    display: flex;
    flex-direction: row;
    &> * {
      width: 30%;
    }
    pre {
      white-space: pre-wrap;
    }
  }
}
