@import 'base.scss';

.Editor {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  box-sizing: border-box;

  $toolbar-height: 48px;

  .split-pane-wrapper {
    flex: 1;
    position: relative;
  }

  .input-pane {
    display: flex;
    flex-direction: column;
    height: 100%;

    .toolbar {
      height: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: calc(100% - 64px);
      margin: 0;
      padding: 8px 32px 8px 32px;
      font-size: 13px;

      .button {
        text-align: center;
        height: 100%;
        padding: 0 8px 0 8px;
        margin: 0;
        user-select: none;
        cursor: pointer;
        font-weight: 700;
        color: $dark-blue;

        display: flex;
        flex-direction: row;
        justify-content: center;

        .icon {
          height: 12px;
          width: 12px;
          padding: 3px 8px 0 0;
        }
      }

      .button:hover {
        box-sizing: border-box;
        border-bottom: 2px solid $med-blue;
      }

      .button.left {
        margin-right: 8px;
      }

      .button.right {
        margin-left: 8px;
      }

      .button.middle {
        margin: 0 8px 0 8px;
      }

      .button.disabled {
        cursor: default;
        color: $light-grey;

        &:hover {
          border-bottom: 0px;
        }
      }
    }
  }

  .examples {
    visibility: visible;
    position: absolute;
    top: 46px;
    background-color: rgba(255, 255, 255, 0.9);
    left: 0;
    padding: 0 16px 16px 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .example {
      margin: 4px 0 8px 0;
      cursor: pointer;

      .text {
        font-size: 13px;
        user-select: none;
        padding: 0 4px 4px 4px;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid $med-blue;
        }
      }
    }

    &.hidden {
      visibility: hidden;
    }
  }
}
