@import 'base.scss';

.Recommendations {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  $unfocused-color: rgb(245, 244, 249);

  $view-switch-speed: 500ms;

  // hack to get the visualization pane to not overflow
  .Pane.vertical.Pane1 {
    overflow: hidden;
  }

  .Pane.vertical.Pane2 {
    overflow: hidden;
    // transition: width 220ms $standard-ease;
  }

  .visualizations {
    .tabs {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 44px;
      background-color: #fff;
      display: flex;
      flex-direction: row;

      .tab {
        flex-grow: 1;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &.selected {
          .text {
            border-bottom: 2px solid $dark-blue;
          }
        }

        .text {
          font-size: 14px;
          padding: 4px 4px 4px 4px;
          border-bottom: 2px solid transparent;
        }

        &:hover {
          .text {
            border-bottom: 2px solid $dark-blue;
          }
        }
      }
    }

    position: relative;
    height: calc(100%);
    width: 100%;
    display: flex;
    flex-direction: column;

    .focus {
      position: absolute;
      top: 44px;  // tabs;
      left: 0;
      height: calc(100% - 196px - 44px);  // minus height of context and tabs
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin: 0;
      overflow: auto;

      visibility: visible;
      transition: transform $view-switch-speed $standard-ease,
                  visibility $view-switch-speed $standard-ease;

      .chart {
        padding: 24px 16px 16px 16px;
        border-radius: 8px;

        &.update {
          animation: bump 500ms $standard-ease;
        }

        @keyframes bump {
          0% {
            background-color: #fff;
          }
          50% {
            background-color: $unfocused-color;
          }
          100% {
            background-color: #fff;
          }
        }

        .VegaLiteChart {
          z-index: 0;

          .vega-actions-wrapper {
            z-index: 0;  // we don't want a z-index here
          }
        }
      }

      &.hidden {
        transform: translateY(-100%);
        visibility: hidden;

        .VegaLiteChart {
          z-index: 0;
        }
      }
    }

    .context {
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      position: absolute;
      z-index: 1;
      height: 196px;
      top: calc(100% - 196px);
      background-color: $unfocused-color;
      box-sizing: border-box;

      transition: top $view-switch-speed $standard-ease,
                  background-color $view-switch-speed $standard-ease;

      &.full {
        top: 44px;  // leave room for tabs
        height: calc(100% - 44px);
        background-color: #fff;
        overflow-y: auto;

        .carousel {
          flex-wrap: wrap;
          width: 100%;
          align-content: flex-start;
          align-items: flex-start;

          transition: flex-wrap 0ms, width 0ms;

          .context-chart {
            border-radius: 8px;
            border: 1px solid transparent;
            margin: 11px 15px 11px 15px; // we minus 1px for the border
            padding: 12px 0 12px 0;  // should add up to the padding in non-full
            flex-grow: 0;

            &.selected {
              border: 1px solid $med-blue;

              &:hover {
                border: 1px solid $med-blue;  // don't change border on hover
              }
            }

            &:hover {
              border: 1px dashed $light-blue;
              background-color: #fff;  // override previous hover
            }

            .cost {
              bottom: 8px;
            }
          }
        }
      }

      .carousel {
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        flex-wrap: nowrap;
        transition: flex-wrap $view-switch-speed, width $view-switch-speed;

        .context-chart {
          position: relative;
          display: flex;
          align-items: center;
          height: calc(196px - 48px);  // subtract padding on top / bottom and border
          width: calc(196px - 48px);  // subtract padding on left / right
          justify-content: center;
          padding: 24px 16px 24px 16px;  // should add up to the margin + padding in `full`
          cursor: pointer;
          flex-grow: 0;
          flex-shrink: 0;

          &.scroll {
            flex-grow: 0;
          }

          &:hover {
            background-color: rgb(250, 250, 252);
          }

          &.selected {
            background-color: #fff;
          }

          .VegaLiteChart {
            padding: 0;
            z-index: 2;

            canvas {
              width: auto !important;
              max-width: 128px !important;
              height: auto !important;
              max-height: 128px !important;
            }
          }

          .cost {
            position: absolute;
            bottom: 18px;
            font-size: 11px;
            font-weight: 300;
            font-family: 'Roboto Mono', monospace;
            color: $med-grey;
          }
        }
      }
    }
  }

  .info {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;

    .expand-button {
      height: 100%;
      width: 24px;
      display: flex;
      cursor: pointer;
      justify-content: center;

      &:hover {
        background-color: $highlight-grey;
      }

      .expand-icon {
        width: 16px;
        height: 16px;

        &.collapse {
          transform: rotate(180deg);
        }
      }
    }


    .raw-container {
      height: 100%;
      width: 100%;
      overflow: auto;

      .raw {
        padding: 16px 16px 0 0;
        opacity: 0.9;
        font-size: 0.8em;
      }
    }
  }
}
