@import 'base.scss';

.Recommendations {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  // hack to get the visualization pane to not overflow
  .Pane.vertical.Pane1 {
    overflow: hidden;
  }

  .Pane.vertical.Pane2 {
    overflow: hidden;
  }

  .visualizations {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .focus {
      display: flex;
      width: 100%;
      height: calc(100% - 196px);
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin: 0;

      .chart {
        padding: 24px 16px 16px 16px;
        border-radius: 8px;

        &.update {
        }

        @keyframes bump {
          0% {
            box-shadow: $small-box-shadow;
          }
          50% {
            box-shadow: $large-box-shadow;
          }
          100% {
            box-shadow: $small-box-shadow;
          }
        }
      }
    }

    .context {
      width: 100%;
      overflow-x: scroll;
      height: 196px;
      position: relative;
      background-color: rgb(243, 242, 247);

      .carousel {
        padding: 0;
        height: 100%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        .context-chart {
          position: relative;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          height: 100%;
          padding: 24px 32px 24px 24px;
          cursor: pointer;

          .backdrop {
            position: absolute;
            top: 0;
            left: 0;

            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: transparent;
          }

          &:hover {
            .backdrop {
              background-color: rgb(250, 250, 252);
            }
          }

          &.selected {
            .backdrop {
              background-color: #fff;
            }
          }

          .VegaLiteChart {
            padding: 0;
            z-index: 2;

            svg {
              width: 128px;
              height: 128px;
            }
          }
        }
      }
    }
  }

  .info {
    height: 100%;
    overflow-y: auto;

    .raw {
      padding: 32px;
      opacity: 0.9;
      font-size: 0.8em;
    }
  }
}
