.Status {
  font-size: 12px;
  border-top: 1px solid #ddd;
  height: 26px;
  flex-shrink: 0;
  line-height: 26px;
  padding-left: 12px;
  text-overflow: ellipsis;
  overflow: hidden;

  &.active {
    animation-name: pulse-status-bar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes pulse-status-bar {
  0% {
    background-color: white;
  }
  50% {
    background-color: #557fe0;
  }
  100% {
    background-color: white;
  }
}
