@import 'shared/scss/base.scss';

.DatasetViewer {
  display: flex;
  flex-direction: column;
  padding: 24px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .summary {
      margin-left: 48px;
    }
  }

  .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid $light-grey;
    border-radius: 4px;
    margin-bottom: 16px;

    .visualization {
      padding: 20px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  }

  .spec-view {
    z-index: 1;
    position: absolute;
    padding: 8px;
    background-color: #fff;
    font-size: 10pt;
    border: 1px solid $light-grey;
    border-radius: 4px;
  }
}
