@import 'shared/scss/base.scss';

.DatasetChooser {
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  width: 600px;

  .search-title {
    flex: 0 0 auto;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px 0 0 4px;
    background-color: #e8e8e8;
    font-size: 16px;
  }

  .search-bar {
    flex: 1 1 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid #e8e8e8;
    border-radius: 0;
  }

  .dimensions {
    display: flex;
    flex-direction: row;
    background-color: $light-grey;
    border-radius: 0 4px 4px 0;

    .dim-option {
      padding-left: 8px;
      padding-right: 8px;
      cursor: pointer;
    }

    .dim-option.selected {
      background-color: $med-blue;
      border-radius: 4px;
    }
  }

  .search-input {
    flex: 1 1 auto;
    border: none;
    font-size: 12px;
    color: #b5b5b5;
    padding: 0 4px 0 8px;
  }

  .search-input::placeholder {
    color: #c9c8c8;
  }

  .search-input:focus {
    outline: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    list-style-type: none;
    width: 100%;
    top: 35px;
    background-color: #fff;
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    margin: 0;
    padding: 0;
    font-size: 12px;
    border: 1px solid #e8e8e8;
    border-top-style: none;
  }

  .dropdown-item {
    margin: 0;
    padding: 0 8px 0 8px;
    cursor: pointer;
  }

  .dropdown-item:hover {
    background-color: #e8e8e8;
  }

  .search-bar:focus-within .dropdown-content {
    display: block;
  }
}
