$dark-blue: #1A1C40;
$med-blue: #17266b;
$light-blue: #6d92e0;
$light-grey: #C3C3C3;
$med-grey: rgb(165, 165, 165);
$highlight-grey: #f7f7f7;

$standard-ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$decelerate-ease: cubic-bezier(0.0, 0.0, 0.2, 1);
$accelerate-ease: cubic-bezier(0.4, 0.0, 1, 1);

$small-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$small-hover-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$medium-box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$large-box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
