$dark-blue: #1A1C40;
$med-blue: #17266b;
$light-blue: #6d92e0;
$light-grey: #C3C3C3;
$med-grey: rgb(165, 165, 165);

$standard-ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$decelerate-ease: cubic-bezier(0.0, 0.0, 0.2, 1);
