@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  font-size: inherit;
  font-family: inherit;
  background: none;
}

button:focus {
  outline:0;
}

