@import 'base.scss';

.Navbar {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 48px;
  box-sizing: border-box;

  &:before {
    content: '';
    position: absolute;
    height: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border-bottom: 1px solid $light-grey;

    width: 0;
    transition: width 750ms $standard-ease;
  }

  &.bordered:before {
    box-sizing: border-box;
    width: 100%;
    transition: width 500ms $standard-ease;
  }

  .items {
    display: flex;
    flex-direction: row;
    padding: 8px 32px 8px 32px;
    margin: 0;
    align-items: baseline;
    user-select: none;
    flex: 0 0 auto;
    box-sizing: border-box;
  }

  .title {
    text-align: center;
    font-size: 24px;
    padding: 0 16px 0 16px;
    cursor: default;
    flex: 1 0 0;
    color: $dark-blue;
  }

  .tabs {
    display: flex;
    flex: 1 0 0;
    font-size: 20px;

    .tab {
      font-size: 16px;
      padding: 0 6px 4px 8px;
      text-decoration: none;
      cursor: pointer;
      color: $dark-blue;
      border-bottom: 2px solid transparent;
    }

    .tab:hover {
      color: $med-blue;
      box-sizing: border-box;
      border-bottom: 2px solid $med-blue;
    }

    .tab.selected {
      box-sizing: border-box;
      border-bottom: 2px solid $med-blue;
    }
  }

  .tabs.left {
    flex-direction: row;

    .tab {
      margin: 0 16px 0 0;
      text-align: left;
    }
  }

  .tabs.right {
    flex-direction: row-reverse;

    .tab {
      margin: 0 0 0 16px;
      text-align: right;
    }
  }

  .draco-logo {
    width: 24px;
    height: 24px;
  }
}
